body {
	background: #f3f3f3;
}

#container {
	height: 900px;
	width: 900px;
}
	
#navigation {
	background: #000000;
	height: 50px;
	width: 900px;
}

#menu {
	background: grey;
	float: left;
	height: 650px;
	width: 150px;
}

#content {
	float: right;
	height: 650px;
	width: 750px;
	background: yellowgreen;
}

#content_header {
	height: 50px;
	width: 750px;
	background: deepskyblue;
}



#content_detail {
	text-align: left;
	float: left;
	border-radius: 10px;
	height: 545px;
	width: 210px;
	position: absolute;
	background: red;
	padding: 10px;
	margin: 10px;
}



#content_main {
	float: right;
	height: 545px;
	width: 460px;
	background: purple;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

#clear {
	clear: both;
}

#footer {
	clear: both;
	height: 50px;
	width: 900px;
	background: yellow;
}

h1 {
    color: #FCA205;
}

h4 {
    color: red;
}

h5.centered {
	text-align: center;
}

IMG.displayed {
	border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vcenter {
	line-height: 50px;
}