body {
	background: #dcf3e5;
}

#container {
	height: 900px;
	width: 1280px;
}
	
#navigation {
	background: #000032;
	height: 50px;
	width: 1280px;
}

#nav_left {
	float: left;
	height: 50px;
	width: 700px;
}

#nav_right {
    /*background: red;*/
	float: right;
	height: 50px;
	width: 450px;
    margin-right: 0px;
}


#menu {
	background: linear-gradient(#000032, #4f8688);
	float: left;
	height: 650px;
	width: 200px;
}

#content {
	float: right;
	height: 650px;
	width: 1080px;
	background: rgba(131, 177, 249, 0.3);
}

#content_header {
	height: 50px;
	width: 1080px;
	background: white;
}

#content_detail {
	text-align: left;
	float: left;
	border-radius: 10px;
	height: 545px;
	width: 310px;
	background: white;
	padding: 10px;
	margin: 10px;
}



#content_main {
	float: right;
	height: 545px;
	width: 690px;
	background: white;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

#clear {
	clear: both;
}

#footer {
	clear: both;
	height: 50px;
	width: 1280px;
	background: #4f8688;
}

h1 {
    color: #FCA205;
}

h4 {
    color: red;
}

h5.centered {
	text-align: center;
}

IMG.displayed {
	border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vcenter {
	line-height: 50px;
}

