{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Register form:</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td> {{ form.non_field_errors }}</td>
            </tr>
        </table>
        <p> The password must be contains not less than 8 alphanumeric symbols, including, at least, one alphabet symbol.</p>
        <input type="submit" name="reg_form" value="Register">
    </form>
{% endblock %}