{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td> {{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" name="reg_form" value="Зарегистрировать">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}