{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for field in edit_account_form %}
                <tr>
                    <td> {{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="Save" name="edit_account_form"></td>
            </tr>
        </table>
    </form>
{% endblock %}