{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for field in login_form %}
                <tr>
                    <td> {{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="Log-in" name="login_form"></td>
            </tr>
        </table>
    {% if invalid_login == True %}
        <h4>Введены неверные email или пароль. Повторите ввод. <br>Обратите внимание, пароль чувствителен к регистру.</h4>
    {% endif %}
    </form>
{% endblock %}