{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content_header">
        <div id="vcenter">Search result:</div>
    </div>
    {% for result in results %}
        <div id="search_block">
            <div id="vcenter">
                {% if result.photo %}
                    <img src="{{ result.photo.url }}" height=50>
                {% else %}
                    <img src="/media/profiles/unknown.png" height="50">
                {% endif %}
                <a href="/id={{ result.id }}">{{ result.nick_name }} </a>{{ result.email }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
